<!DOCTYPE html>
<html lang="pt-br">
    {% include 'partials/_head.html' %}
    <body>
        <div class="pagina-inicial">
            {% include 'partials/_header.html' %}
            <main class="principal">
                {% include 'partials/_menu.html' %}
                <section class="galeria" style="margin-left: 5em">
                    {% block content %}{% endblock %}
                </section>
            </main>
        </div>
    {% include 'partials/_footer.html' %}
    </body>
</html>